/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'PT Sans', sans-serif;
}

/* UTILITY */
.container{
    width: 90%;
    margin: 0 auto;
}
.row{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.center{
    align-items: center;
}


/* COMMON */

/* HEADER */
header{
    background-color:#0084fd ;
    
}

.hei{
    height: 5rem;
}

 header nav{
    display: none;
}

.nav-menu{
    list-style-type: none;
}

/* RESPONSIVE DEKSTOP HEADER */
@media screen and (min-width:992px) {
    header nav{
        display: block;
    }
    .hamburger-menu{
        display: none;
    }
    .container {
        width: 60%
    };
}


/* MAIN */


/* FOOTER */