/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'PT Sans', sans-serif;
}

section{
    padding: 2rem 0;
}

a{
    color: inherit;
    text-decoration: none;
}
/* UTILITY */
.container{
    width: 90%;
    margin: 0 auto;
}
.row{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.center{
    align-items: center;
}
 
.column{
    flex-direction: column;
}
.gap{
    gap: 1rem;
}
.txt-center{
    text-align: center;
}

/* FONT SIZE */

.fo-ze{
    font-size: 2rem;
}
.icon-5{
    font-size: 5rem;
    color: #0084fd;
}

/* MARGINI/PADDING */
.m1{
    margin: 1rem;
}
/* COMMON */
 .col{
    border-radius: 25px;
 }
/* HEADER */
header{
    background-color:#0084fd ;
    color: white;
}

.hei{
    height: 5rem;
}

.hamburger-menu{
    background-color: transparent;
    color: inherit;
    border: 0;
    font-size: 2rem;
}

 header nav{
    display: none;
}

.nav-menu{
    list-style-type: none;
}

.btn-form{
    border: 1px solid;
    border-radius: 20px;
    padding: 0 .5rem;
}

/* RESPONSIVE DEKSTOP HEADER */
@media screen and (min-width:992px) {
    header nav{
        display: block;
    }
    .hamburger-menu{
        display: none;
    }
    .container {
        width: 80%
    };
}


/* MAIN */

/* <!-- INFORMATION APP --> */

#info h2{
    color:#0084fd ;
}
#info .col{
    background-color: #b5ddff;
}

#info .btn-form{
    background-color: #0084fd;
    border: 1px solid #0084fd;
    padding: 0 2rem;
    font-size: 1.5rem;
    margin-left: 2rem;
}
 #info img{
    width: 50%;
 }

 #info .col * {
    margin: 1rem 1rem;
 }
 
/* RESPONSIVE  TABLET INFO APP */
@media screen and (min-width:768px) {
    #info .column{
        flex-direction: row;
        flex-wrap: wrap;
    }

    #info .col:first-child{
        width: calc(2* 100% / 3 - 2rem /3);
    }
    #info .col{
        width: calc(100% / 3 - 2rem / 3);
    }


   
}
/* DEBUG */
.db-green{
    background-color: green;
    
}
/* DESKTOP */
@media screen and (min-width:992px) {
    #info .col:first-child{
        display: flex;
    }
    
   #info .text {
        width: 70%;
    }
    #info .img{
        width: 30%;
    }
}
/* <!-- STRATEGIC PLAINNIG --> */
.bg-purple{
    background-color: #9792e4;
}

#strategic span{
    border: 1px solid #9792e4;
    background-color: #9792e4;
    border-radius: 50%;
    padding:1rem;
    display: inline-block;
}
#strategic .text{
    color: white;
}


.db-white{
    background-color: rgb(255, 255, 255);
    
} 


#strategic .col{
    min-height: 500px;
}
 /* RESPONSIVE DESKTOP*/
 @media screen and (min-width:992px) {
    #strategic .column{
        flex-direction: row;
    }
    #strategic .col{
        width:calc(100% / 2 - 1rem / 2);
    }
 }

 /* TESTIMONIAL */


 /* RESPONISV TABLET TESTIMONIAL */
#testimonial .col *{
    margin: 1rem 0;
    color: white;
}

 #testimonial img{  
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
 }
 #testimonial h2{
    font-size: 1rem;
 }
 #testimonial h3 {
    color: #9792e4;
 }


 @media screen and (min-width:768px) {
    #testimonial .col{
        display: flex;
        align-items: center;
    }
    #testimonial .img {
        width:40%;
    }
    #testimonial .text{
        width: 60%;
    }
 }
 
 /* BENEFIT */
 #benefit .col h2, h3{
    color: #9792e4;
 }

 #benefit .btn-form{
    background-color: #9792e4;
    padding: .5rem 1rem;
    display: inline-block;
    border: 1px solid #9792e4;
 }

#benefit .col *{
    margin: 1rem;
}

/* RESPONISV TABLET benefit */


@media screen and (min-width:768px){
    #benefit .column{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #benefit .col{
        width: calc(100% / 2 - 2rem / 2);
    }
}
 /* RESPONSIVE DESKTOP*/
 @media screen and (min-width:992px){
    #benefit .col{
        width: calc(100% / 3 - 2rem / 3);
    }
 }
 
 /* debug */
 #benefit .col{
    /* min-height: 400px; */
 }

 /* ABOUT US */

 @media screen and (min-width:768px) {
    #about .column {
        flex-direction: row;
    }
    #about .text, #about .img{
        width: 50%;
    }
 }