/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'PT Sans', sans-serif;
}

section{
    padding-top: 2rem;
}
/* UTILITY */
.container{
    width: 90%;
    margin: 0 auto;
}
.row{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.center{
    align-items: center;
}
 
.column{
    flex-direction: column;
}
.gap{
    gap: 1rem;
}
/* COMMON */

/* HEADER */
header{
    background-color:#0084fd ;
    
}

.hei{
    height: 5rem;
}

 header nav{
    display: none;
}

.nav-menu{
    list-style-type: none;
}

/* RESPONSIVE DEKSTOP HEADER */
@media screen and (min-width:992px) {
    header nav{
        display: block;
    }
    .hamburger-menu{
        display: none;
    }
    .container {
        width: 60%
    };
}


/* MAIN */

/* <!-- INFORMATION APP --> */

.text{
    /* debug */
    background-color: blue;
    min-height:200px ;
}
.img{
    /* debug */
    background-color: rgb(255, 115, 0);
    min-height:200px ;
}
/* DEBUG */
.db-green{
    background-color: green;
    min-height: 400px;
    border: 1px solid black;
}
/* FOOTER */